<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{/css/nicepage.css}" media="all">

    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">

    <meta property="og:type" content="website">
</head>
<body>
<header th:replace="/fragments/header :: header"></header>
<div class="container">
    <div layout:fragment="content"></div>
</div>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>