<!DOCTYPE html>
<html style="font-size: 16px;" lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="/css/main.css" media="all">

</head>

<body>
<header class="u-clearfix u-header u-header" id="sec-5a3f" th:fragment="header">
    <div class="u-clearfix u-sheet u-sheet-1">
        <a th:href="@{/}" class="u-image u-logo u-image-1">
            <img src="/logo.png" class="u-logo-image u-logo-image-1">
        </a>
    </div>
    <div id="navbar">

        <ul>
            <li><a th:href="@{/}">Forum</a></li>
            <li><a sec:authorize="!isAuthenticated()" th:href="@{/register}">Register</a></li>
            <li><a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a></li>
            <li><a href="https://github.com/ReallyLastOne/Forum">Contact</a></li>
            <li><a sec:authorize="isAuthenticated()" th:href="@{/profile}">Profile</a></li>
            <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a></li>
        </ul>
    </div>
</header>

</body>
</html>
