<div class="u-align-center u-container-style u-layout-cell u-shape-rectangle u-size-46 u-layout-cell-2"
     th:fragment="password" th:remove="tag" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="u-border-2 u-border-grey-75 u-container-layout u-valign-bottom u-container-layout-2">
        <div class="u-table u-table-responsive u-table-2">
            <form action="#" th:action="@{/profile?do=editpassword}" th:object="${passwordForm}"
                  method="post">
                <fieldset>
                    <legend>Edit your password</legend>
                    <label for="currentPassword">Current password:</label><br/>
                    <input type="password" id="currentPassword" th:field="*{currentPassword}"><br/>
                    <label for="newPassword">New password:</label><br/>
                    <input type="password" id="newPassword" th:field="*{newPassword}"><br/>
                    <label for="newPasswordRepeated">New password:</label><br/>
                    <input type="password" id="newPasswordRepeated" th:field="*{newPasswordRepeated}"><br/>
                </fieldset>
                <input type="submit" class="btn btn-primary u-btn u-btn-submit u-button-style" value="Submit">

            </form>
        </div>
    </div>
</div>