<div class="u-align-center u-container-style u-layout-cell u-shape-rectangle u-size-46 u-layout-cell-2"
     th:fragment="main" th:remove="tag" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="u-border-2 u-border-grey-75 u-container-layout u-valign-bottom u-container-layout-2">
        <div class="u-table u-table-responsive u-table-2">
            <table class="u-table-entity">
                <colgroup>
                    <col width="100%">
                </colgroup>
                <tbody class="u-table-body">
                <tr style="height: 50px;">
                    <td class="u-border-1 u-border-grey-dark-1 u-table-cell">WARNS</td>
                </tr>

                <tr th:each="warn: ${warns}">
                    <td class="u-border-1  u-table-cell" th:text="${warn.toString()}">
                    </td>
                </tr>

                <tr style="height: 50px;">
                    <td class="u-border-1 u-border-grey-dark-1 u-table-cell">REPUTATION</td>
                </tr>

                <tr style="height: 167px;">
                    <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>