<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" lang="en"
      layout:decorate="~{layouts/default}">
<head>
    <meta charset="UTF-8">
    <title>Sections</title>
</head>
<body>
<div class="container">
    <div layout:fragment="content">
        <h1>List of all sections</h1>

        <tr th:each="section: ${sections}">
            <a th:href="@{/sections/}+${section.getName()}" th:text="${section.getName()}"></a>
            <p>=================</p>
        </tr>
    </div>
</div>


</body>
</html>