<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" lang="en"
      layout:decorate="~{layouts/default}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div layout:fragment="content">

        <div th:object="${thread}">
            <div th:text="${thread.getName()}"></div>
            <tr th:each="post: ${thread.getPosts()}">
                <div style="display: inline-block;" th:text="${post.getUser().getName()}"></div>
                <div style="display: inline-block;" th:text="${post.getContent()}"></div>
                <br/>
            </tr>
        </div>
    </div>
</div>

</body>
</html>